@font-face {
    font-family: "TrebuchetMS";
    src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/TrebuchetMSregular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Trebuchet MS";
    src: url("../fonts/TrebuchetMSmedium.woff2") format("woff2"), url("../fonts/TrebuchetMSmedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  