$basic_black: #000;
$basic_white: #fff;
$basic_grey: #666666;
$basic_blue: #1698d9;
$special_white: #f2f2f2;


$font: "TrebuchetMS", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1120px;
$mobile-width: 320px;