.container {
    min-width: 280px;
    padding: 0 20px;

    @media (min-width: $tablet-width) {
        min-height: 680px;
        padding: 0 40px;
    }

    @media (min-width: $desktop-width) {
        min-width: 1120px;
        padding: 0 80px;
        margin: 0 auto;
    }
}
