.page-main__wrapper {
    background-color: $basic_black;
    background-image: url("../img/Pattern.png");
    height: 100vh;

    @media (min-resolution: 2dppx) {
        background-image: url("../img/Pattern@2x.png");
      }

}

.page-main__title {
    margin: 0;
    color: $basic_white;
    text-align: center;
    font-size: 36px;
    line-height: 43px;
    padding-top: 55px;
    padding-bottom: 23px;
}