.page-main__wrapper {
    background-color: $basic_blackack;
    background-image: url("../img/Pattern.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.page-main__title {
    margin: 0;
    color: $basic_white;
    text-align: center;
    font-size: 36px;
    line-height: 43px;
    padding-top: 55px;
    padding-bottom: 23px;
}