*{
    box-sizing: border-box;
}
@font-face {
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-family: Roboto;
    font-weight: 400;
}
@font-face {
    src: url("../fonts/fontawesome/fontawesome-webfont.woff2");
    font-family: FontAwesome;
    font-weight: 400;
}

body {
    margin: 0 auto;
    min-width: 320px;
}
.checkbox {
    display: none;
}

.header {
    background: url("../img/BG.jpg");
    /*height: 100vh;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container__header {
    max-width: 1180px;
    margin: 0 auto;
}
.navigation {
    padding-top: 47px;
    padding-right: 15px;
}
.navigation__list{
    margin: 0;
    padding: 0;
    float: right;
    text-align: center;
}

.navigation__list-left {
    margin: 0;
    padding: 0;
    text-align: center;
    float: left;
}
.navigation__item {
    display: inline-block;
    padding-right: 30px;
    vertical-align: center;
}
.navigation__link {
    color: #FFF;
    font-size: 12px;
    line-height: 23px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: normal;
}
.navigation__link-left{
    text-transform: none;
    font-size: 18px;
}
.navigation__icon {
    display: inline-block;
    line-height: 21px;
    float: left;
    margin-right: 6px;
}
.navigation__img {
    line-height: 21px;
}

.container__main {
    max-width: 365px;
    margin: 0 auto;
    padding-top: 102px;
}
.container__main-header {
    background: linear-gradient(90deg, #AB47BC 0%, #7B1FA2 100%);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.12), 0 5px 15px rgba(0, 0, 0, 0.5);
    max-width: 324px;
    border-radius: 3px;
    position: absolute;
    top: -39px;
    left: 20px;
    right: 21px;
}
.sign {
    padding-top: 31px;
    padding-bottom: 36px;
    color: white;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
}
.main__navigation {
    padding-bottom: 40px;
}
.main__navigation-list {
    margin: 0 auto;
    /*padding-left: 70px;*/
    text-align: center;
}

.container__footer {
    background-color: white;
    max-width: 365px;
    position: relative;
    border-radius: 3px;

}
.text {
    padding-top: 143px;
    text-transform: capitalize;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
}
.main__item {
    list-style-type: none;
    padding-bottom: 54px;
}
.main__form {
    padding-top: 33px;
}

.main__list {
    margin: 0;
    padding: 0;

}
.main__img {
    margin-right: 15px;
    padding-left: 26px;
}
.main__input {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    width: 269px;
    border: none;
    border-bottom: 1px solid #D2D2D2;
    color: #999999;
    padding-bottom: 7px;
}
input {
    outline: none;
}
.button {
    padding-bottom: 29px;
    text-align: center;
    margin-top: -15px;
    border: none;
}
button {
    outline: none;
}
.main__button {
    color: #9C27B0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    left: 138px;
    border: none;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

.footer {
    margin: 0 auto;
    padding: 72px 15px 50px 15px;
    display: flex;
    justify-content: space-between;

}
.footer__list {
    display: flex;
}
.footer__item {
    color: white;
    padding-right: 34px;
    list-style-type: none;

}
.footer__link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    font-family: Roboto, sans-serif;
    font-weight: normal;

}
.footer__link-right{
    font-size: 10px;
    line-height: 10px;
    font-family: FontAwesome,sans-serif;
    font-weight: normal;
    text-transform: none;
}

.footer__item-right {
    padding-right: 0;

}
